####### SERVER CONFIG ##############################################################################
SERVER_PORT="3005"
####### END SERVER CONFIG ##########################################################################

######## URL #########################################################################
URL="http://localhost:3005/api/v1/"
# URL_RES="http://localhost:3005/"
URL_RES="http://87.248.152.92:3005/"
######## END SMS #########################################################################

######## JWT ##################################################################################
JWT_ACCESS_TOKEN_SECRET_USER='AcCQ1%93ESS_TOMS%k&E983N_SE@C#g&RE*T'
######## END JWT ##############################################################################

####### DATABASE ##############################################################################
DATABASE_MONGODB_USERNAME=""
DATABASE_MONGODB_PASSWORD=""
DATABASE_MONGODB_URL="mongodb://127.0.0.1:27017/Qwhatsup"
######## END DATABASE #########################################################################

######## SMS #########################################################################
# KAVENEGAR_API_KEY=""
######## END SMS #########################################################################